.ssn-validator-form-inner {
	label {
		display: block;
		margin-bottom: 5px;
	}
}

.ssn-validator-input-container {
	position: relative;

	&.inline-container {
		display: inline-block;
		padding-bottom: 25px;
		vertical-align: middle;
	}
}

input[type="text"].ssn-validator-input {
	display: inline-block;
	margin: auto;
	text-align: center;
	height: 78px;
	font-size: 30px;
	background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
}

.ssn-validator-form-text {
	opacity: 0;
	position: absolute;
	min-height: 25px;
	display: block;

	&.active {
		opacity: 1;
	}

	&.error {
		color: $red;
	}
}

.ssn-validator-input-separator {
	font-size: 20px;
	margin-bottom: 12.5px;
	display: inline-block;
	vertical-align: middle;
}

.ssn-validator-input-first{
	max-width: 130px;
}

.ssn-validator-input-second{
	max-width: 80px;
}
