.ssn-validator-input-container {
	position: relative;

	&.inline-container {
		display: inline-block;
		padding-bottom: 25px;
	}
}

input[type="text"].ssn-validator-input {
	display: inline-block;
	margin: auto;
	text-align: center;
}

.ssn-validator-form-text {
	opacity: 0;
	position: absolute;
	min-height: 25px;
	display: block;

	&.active {
		opacity: 1;
	}

	&.error {
		color: red;
	}
}


.ssn-validator-input-separator {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
}

.ssn-validator-input-first{
	max-width: 130px;
}

.ssn-validator-input-second{
	max-width: 80px;
}
