.ssn-validator-results-wrapper{
	margin-top: 30px;
	line-height: 1.75;
}

.ssn-validator-result-block {
	margin: 0 1%;
	max-width: 46%;
	width: 545px;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;

	@include mobile () {
		margin: 15px 0;
		height: auto;
		display: block;
		width: 100%;
		max-width: 100%;
	}
}

.ssn-validator-results {
	vertical-align: top;
	table{
		border: none;

		th, tr, td {
			border: none;
		}

		tr *:last-child {
			text-align: right;
		}
	}
}

.ssn-validator-map {
	height: 230px;
	background-color: $grey;
	position: relative;
}

.ssn-validator-map-error {
	position: absolute;
	z-index: 999;
	top: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	top: 50%;
    font-size: 18px;
	transform: translateY(-50%);

}

.ssn-validator-banner {
	background-color: $red;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding: 7px 0;
	line-height: 1;
	visibility: middle;
}

.ssn-validator-result-error{
	margin-bottom: 10px;
}

#ssn_validator_result_map {
	height: 100%;
	width: 100%;
}

.ssn-validator-status {
	font-weight: bold !important;
}

.ssn-validator-status-invalid {
	color: $red;
}

.ssn-validator-status-valid {
	color: $green;
}
